.box{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid gray;
}
.btn{
    margin-top: 80px;
    margin-bottom: 30px;
    width: 140px;
    height: 30px;
    border-radius: 1px;
    font-size: 16px;
}
p{
    margin: 0;
    padding: 10px;
}